.card{
    background-color: darkturquoise00   ;

}
.card-body{
    display: inline-block;
    padding: 30px;
    text-align: center;
    text-decoration: crimson;
}
.button{
    text-align: right;
}
.totalPrice{
    background-color: dodgerblue;
    text-align: right;
    text-shadow: grey;
}
