
    <body>
        <div class="container-fluid">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/cart" routerLinkActive="active">cart[{{cartItem.length}}] </a></li>
                    <input type="text" placeholder="Search..">
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    </body>
